body {
  background-color: #000000;
}

.container {
  color:#747373;
  position:relative;
  font-size: 1.25em;
  margin: auto;
  font-family: "Comic Sans MS", sans-serif;

}

select option {
  color:#000000;
}

/*button style from http://webdesignerwall.com/tutorials/css3-gradient-buttons*/
#submit {
  color:#000000;
  font-weight:bold;
  margin:auto;
  margin-top: 1%;
  display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% "Comic Sans MS", sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
  color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
#submit:hover {
	text-decoration: none;
  background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
#submit:active {
	position: relative;
	top: 1px;
  color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}


.marvel {
  color:#ff0000;
  font-weight: bold;
  font-style: oblique;
}

.dc {
  color:#0000ff;
  font-weight: bold;
  font-style: oblique;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  border-color: #fff;
  border-style: double;

}
.password {
  font-size: 1.5em;
  text-align: center;
  margin: auto;
  color:#f47a20;
  padding: .5em 2em .5em 2em;
}

.numWord, .case, .addNum {
  margin: auto;
  padding-top: 0.5%;
}

img {
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer p {
  font-size: 0.8em;
  text-align: center;
}
footer {
  bottom: 0;
  left: 0;
  width: 100%;
}
